.transparent{
  border-width: 0px;
  -webkit-box-shadow: 0px 0px;
  box-shadow: 0px 0px;
  background-color: rgba(0,0,0,0.0);
}
  .navd {
    text-decoration: none !important;
    color: rgb(206, 226, 248);
  }

  