<div class="row">
  <div class="col-md-6">
      <img src="../../../../assets/img/404.gif">
  </div>
  <div style="font-family:Georgia, 'Times New Roman', Times, serif" class="col-md-6">
    <h1 style="color: orange;">Please Don't Woder Arround...!</h1>
    <hr>
    <a style="margin-right: 60px; margin-top: 20px" class="btn btn-success col-md-3" href="/">Back Home</a>
    <a style="margin-right: 60px; margin-top: 20px" class="btn btn-primary col-md-3" href="#">Report Error</a>
  </div>
</div>
  
