
<div class="wrapper">
  <div
    class="sidebar"
    data-color="orange"
    data-background-color="white"
    data-image="../assets/img/sidebar-1.jpg"
  >
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
      <a href="#" class="simple-text logo-normal">
        DUX
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/guide-dashboard']">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- <li class="nav-item ">
            <a class="nav-link" href="./userprofile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li> -->
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-package']">
            <i class="material-icons">content_paste</i>
            <p>Add-Packages</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-package']">
            <i class="material-icons">content_paste</i>
            <p>Manage-Packages</p>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/rates']">
            <i class="material-icons">attach_money</i>
            <p>Add-Rates</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-location']">
            <i class="material-icons">map</i>
            <p>Add Locations</p>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/tour-request']">
            <i class="material-icons">people</i>
            <p>Tour-Request</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/view-ratings']">
            <i class="material-icons">star_rate</i>
            <p>View-Ratings</p>
          </a>
        </li>

        <!-- add chat to sidebar -->
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/guide/chats']">
            <i class="material-icons">message</i>
            <p>Chats</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="material-icons">logout</i>Log out
          </a>
        </li>
      </ul>
    </div>

<div class="wrapper ">
    <app-side-bar></app-side-bar>
    <div class="main-panel">
        <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title ">Tour Requests</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover ">
                            <thead>
                              <th>FirstName</th>
                              <th>LastName</th>
                              <th>Date</th>
                              <th>Start</th>
                              <th>End</th>
                              <th>Duration</th>
                              <th>Budget</th>
                            </thead>
                            <tbody>
                              <tr *ngFor="let tr of list">
                                <td (click) = "onEdit(tr)">{{tr.firstName}}</td>
                                <td (click) = "onEdit(tr)">{{tr.lastName}}</td>
                                <td (click) = "onEdit(tr)">{{tr.startDate}}</td>
                                <td (click) = "onEdit(tr)">{{tr.startLoc}}</td>
                                <td (click) = "onEdit(tr)">{{tr.endLoc}}</td>
                                <td (click) = "onEdit(tr)">{{tr.duration}}</td>
                                <td (click) = "onEdit(tr)">{{tr.budget}}</td>
                                <td><a class="btn text-danger" (click)="onDelete(tr.id)"><i class="fa fa-trash"></i></a></td>
                              </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

  </div>
</div>
