h2{
    position: center;
   margin: 0 auto;
   width: 50%;
   font-style: inherit;
   
};
.table{
    margin: right;
};
.sidebar-wrapper{width:80%};

.card-header-primary{background-color: coral;};




