<div class="wrapper ">
  <app-side-nav></app-side-nav>
  <div class="main-panel">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Location List</h4>

              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Location Name
                      </th>
                      <th>
                      </th>


                    </thead>
                    <tbody *ngIf="locations?.length > 0">
                      <tr *ngFor="let location of locations">
                        <td *ngIf="location.verified != false">
                          <a [routerLink]="['/admin/edit-location/'+location.id]">{{location.locationName}}</a>
                        </td>
                        <td *ngIf="location.verified != false">
                          <a class="btn btn-danger" (click)="locationService.removeLocation(location)"> Remove</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
