<div class="wrapper ">
  
  <div class="main-panel">
      <div class="content" style="background-repeat: no-repeat;">
          <div class="container-fluid" style="background-repeat: no-repeat;">
            <div class="row">
              <div class="col-md-12">
                <div class="card" style="background-repeat: no-repeat;">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">Create Package</h4>
                  </div>
                  <div class="card-body" style="background-repeat: no-repeat;">
                    <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
                    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
                    <div class="form-group">
                      <input name="firstName" #firstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" placeholder="First name" required>
                      <div *ngIf="firstName.invalid && firstName.touched" class="validation">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                        <input name="lastName" #lastName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" placeholder="Last name" required>
                        <div *ngIf="lastName.invalid && lastName.touched" class="validation">Please fill out this field</div>
                      </div>
                    <div class="form-group">
                      <input name="ownerId" #ownerId="ngModel" [(ngModel)]="service.formData.ownerId" class="form-control" placeholder="ownerId" required>
                      <div *ngIf="ownerId.invalid && ownerId.touched" class="validation">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                        <input name="packageName" #packageName="ngModel" [(ngModel)]="service.formData.packageName" class="form-control" placeholder="packageName" required>
                        <div *ngIf="packageName.invalid && packageName.touched" class="validation">Please fill out this field</div>
                      </div>
                    <div class="form-group">
                      <input type="number" name="duration" #duration="ngModel" [(ngModel)]="service.formData.duration" class="form-control" placeholder="Duration in days.." required>
                      <div *ngIf="duration.invalid && duration.touched" class="validation">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                        <input name="description" #description="ngModel" [(ngModel)]="service.formData.description" class="form-control" placeholder="description" required>
                        <div *ngIf="description.invalid && description.touched" class="validation">Please fill out this field</div>
                      </div>
                    
                    <div class="form-group">
                      <input name="price" #price="ngModel" [(ngModel)]="service.formData.price" class="form-control" placeholder="Expected price" required>
                      <div *ngIf="price.invalid && price.touched" class="validation">Please fill out this field</div>
                    </div>
                    <div class="form-group">
                      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
                    </div>
                    <div class="form-group">
                      <a [routerLink]="['/guide-dashboard']" class="nav-link">Back</a>
                    </div>
                  </form>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<app-side-bar></app-side-bar>
</div>






