<div class="wrapper ">
  
  <div class="main-panel">
      <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header card-header-primary">
                    <h4 class="card-title ">My Ratings</h4>
                  </div>
                  <div class="card-body">
                      <table class="table table-hover">
                          <thead>
                            <th>Ratings</th>
                            
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{ avgRating | async }} / 5</td>
                              
                            </tr>
                          </tbody>
                        </table>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div>
<app-side-bar></app-side-bar>
</div>
