<div class="wrapper">
  <div class="sidebar" data-color="orange" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          DUX
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="./guide-dashboard">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li> 
          <!-- <li class="nav-item ">
            <a class="nav-link" href="./userprofile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li> -->
          <li class="nav-item ">
            <a class="nav-link" href="./add-package">
              <i class="material-icons">content_paste</i>
              <p>Add-Packages</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./manage-package">
              <i class="material-icons">content_paste</i>
              <p>Manage-Packages</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./rates">
              <i class="material-icons">attach_money</i>
              <p>Add-Rates</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./tour-request">
              <i class="material-icons">people</i>
              <p>Tour-Request</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="./view-ratings">
              <i class="material-icons">star_rate</i>
              <p>View-Ratings</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="material-icons">logout</i>Log out
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>


