  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a [routerLink]="['/']" class="simple-text logo-normal">
          Dux-Web(Admin)
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/dashboard']">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/userprofile']">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/guide-request']">
              <i class="material-icons">content_paste</i>
              <p>Guide Request List</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/admin-request']">
              <i class="material-icons">content_paste</i>
              <p>Admin Request List</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/guides']">
              <i class="material-icons">library_books</i>
              <p>Guides</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/tourists']">
              <i class="material-icons">library_books</i>
              <p>Tourists</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/locations']">
              <i class="material-icons">location_ons</i>
              <p>Add Locations</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/locations-list']">
              <i class="material-icons">location_ons</i>
              <p>Locations</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="AuthService.SignOut()">
              <i class="material-icons">logout</i>Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">

      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Guide List</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          Name
                        </th>
                        <th>
                          Email
                        </th>
                        <th>
                          Confirm
                        </th>
                      </thead>
                      <tbody *ngIf="users?.length > 0">
                        <tr *ngFor="let user of users">
                          <td *ngIf="user.roles.admin == true && user.emailVerified == false">
                            {{user.displayName}}
                          </td>
                          <td *ngIf="user.roles.admin == true && user.emailVerified == false">
                            {{user.email}}
                          </td>
                          <td *ngIf="user.roles.admin == true && user.emailVerified == false">
                            <button class="btn btn-success" (click)="AuthService.AcceptUserDataAdmin(user)">Confirm</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
