<div class="wrapper ">
  <app-side-nav></app-side-nav>
  <div class="main-panel">

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Tourists List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Name
                      </th>
                      <th>
                        Email
                      </th>
                      <th>
                        Remove
                      </th>
                      <!-- <th>
                        Remove Guide
                      </th> -->
                    </thead>
                    <tbody *ngIf="users?.length > 0">
                      <tr *ngFor="let user of users">
                        <td *ngIf="user.roles.tourist == true && user.emailVerified == true">
                          {{user.displayName}}
                        </td>
                        <td *ngIf="user.roles.tourist == true && user.emailVerified == true">
                          {{user.email}}
                        </td>
                        <td *ngIf="user.roles.tourist == true && user.emailVerified == true">
                          <button class="btn btn-danger" (click)="authService.RemoveUserDataTourist(user)">Remove</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
