<div class="container">
  <!-- Main content -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">
      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Chats</h1>
      </div>
      <!-- Show user data when logged in -->

      <div class="row">
        <div class="col-md-3">
          <div class="login">
            <div *ngIf="auth.user | async as user">
              <div class="chat-list">
                <ul class="menu-list">
                  <li *ngFor="let chat of userChats$ | async">
                    <a class="chat-link" (click)="openChat(chat.id)">
                      <p class="is-normal">
                        {{ chat.topic }}
                        <span class="tag">
                          {{ chat.messages.length }}
                        </span>
                      </p>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 chatbox">
          <div *ngIf="currentChat">
            <app-chat [chatId]="currentChat"></app-chat>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<div class="wrapper">
  <div
    class="sidebar"
    data-color="orange"
    data-background-color="white"
    data-image="../assets/img/sidebar-1.jpg"
  >
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
      <a href="#" class="simple-text logo-normal">
        DUX
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/guide-dashboard']">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <!-- <li class="nav-item ">
            <a class="nav-link" href="./userprofile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li> -->
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-package']">
            <i class="material-icons">content_paste</i>
            <p>Add-Packages</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/manage-package']">
            <i class="material-icons">content_paste</i>
            <p>Manage-Packages</p>
          </a>
        </li>
        <li class="nav-item  ">
          <a class="nav-link" [routerLink]="['/rates']">
            <i class="material-icons">attach_money</i>
            <p>Add-Rates</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/add-location']">
            <i class="material-icons">map</i>
            <p>Add Locations</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/tour-request']">
            <i class="material-icons">people</i>
            <p>Tour-Request</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view-ratings']">
            <i class="material-icons">star_rate</i>
            <p>View-Ratings</p>
          </a>
        </li>

        <!-- add chat to sidebar -->
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/guide/chats']">
            <i class="material-icons">message</i>
            <p>Chats</p>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" (click)="authService.SignOut()">
            <i class="material-icons">logout</i>Log out
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
