.al {
    text-align: center;
    margin-top: 20%;
    padding-bottom: 241px;
}

.btn {
    font-size: 20px;
    padding: 10px 40px 50px 40px;
    background-color: transparent;
    color: tomato;
}


