<h2>Roster</h2>
<table class="table table-hover">
  <thead>
    <th>Date</th>
    <th>Start</th>
    <th>End</th>
    <th>Budget</th>
  </thead>
  <tbody>
    <tr *ngFor="let tr of list">
      <td (click) = "onEdit(tr)">{{tr.startDate}}</td>
      <td (click) = "onEdit(tr)">{{tr.startLoc}}</td>
      <td (click) = "onEdit(tr)">{{tr.endLoc}}</td>
      <td (click) = "onEdit(tr)">{{tr.budget}}</td>
      <td><a class="btn text-danger" (click)="onDelete(tr.id)"><i class="fa fa-trash"></i></a></td>
    </tr>
  </tbody>
</table>
