<div class="container">
    <!-- Main content -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Chats</h1>
        </div>
        <!-- Show user data when logged in -->
  
        <div class="row">
          <div class="col-md-3">
            <div class="login">
              <div *ngIf="auth.user | async as user">
                <h4>Current Chats</h4>
                <div class="chat-list">
                  <ul class="menu-list">
                    <li *ngFor="let chat of userChats$ | async">
                      <a class="chat-link" (click)="openChat(chat.id)">
                        <p class="is-normal">
                          {{ chat.topic }}
                          <span class="tag">
                            {{ chat.messages.length }}
                          </span>
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div *ngIf="guides$">
              <h4>Chat with a guide</h4>
              <ul>
                <li *ngFor="let guide of guides$ | async">
                  <p (click)="createChat(guide.uid)">{{ guide.displayName }}</p>
                </li>
              </ul>
            </div>
          </div>
          <div #touristChatApp class="col-md-9 chatbox">
            <div *ngIf="currentChat">
              <app-chat [chatId]="currentChat" (messageEvent)="scrollToBottom($event)"></app-chat>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>


<div class="wrapper">
    <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
  
          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo">
          <a [routerLink]="['/']" class="simple-text logo-normal">
            DUX
          </a>
        </div>
        <div class="sidebar-wrapper">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/travel-plan']">
                <i class="material-icons">dashboard</i>
                <p>Travel Plan</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/userprofile']">
                <i class="material-icons">person</i>
                <p>User Profile</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/view-packages']">
                <i class="material-icons">content_paste</i>
                <p>Offers</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/view-guide-profile']">
                <i class="material-icons">library_books</i>
                <p>Guide Profile</p>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/map']">
                <i class="material-icons">location_ons</i>
                <p>Track</p>
              </a>
            </li>
  
            <!-- chat -->
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['/tourist/chats']">
                  <i class="material-icons">message</i>
                  <p>Chats</p>
                </a>
              </li>
  
            <li class="nav-item ">
              <a class="nav-link" [routerLink]="['#']">
                <i class="material-icons">notifications</i>
                <p>Notifications</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="authService.SignOut()">
                <i class="material-icons">logout</i> <b>Log out</b>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
  
  
  
  
  