<!-- notification area -->
<div class="main-panel">
  <div class="content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header card-header-primary">
          <h3 class="card-title">Notifications</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="alert alert-success alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span data-notify="message">Your selection was notified!</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="alert alert-danger alert-with-icon" data-notify="container">
                <i class="material-icons" data-notify="icon">add_alert</i>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="material-icons">close</i>
                </button>
                <span data-notify="message">Your selection was cancelled! The Guide was not available.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a [routerLink]="['/']" class="simple-text logo-normal">
          DUX
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/travel-plan']">
              <i class="material-icons">dashboard</i>
              <p>Travel Plan</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-guide-profile']">
              <i class="material-icons">person</i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-packages']">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-guide-profile']">
              <i class="material-icons">library_books</i>
              <p>Guide Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/map']">
              <i class="material-icons">location_ons</i>
              <p>Map</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" [routerLink]="['/notifications']">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="material-icons">logout</i> <b>Log out</b>
            </a>
          </li>
        </ul>
      </div>
  </div>

</div>





