<div class="wrapper">
  <div class="sidebar" data-color="azure" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-normal">
          DUX
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <!-- <li class="nav-item active  ">
            <a class="nav-link" href="./tour-dashboard">
              <i class="material-icons">dashboard</i>
              <p>Tour Dashboard</p>
            </a>
          </li> -->
          <li class="nav-item ">
            <a class="nav-link" href="./userprofile">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./view-packages">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./view-guide-profile">
              <i class="material-icons">library_books</i>
              <p>Guide Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./map">
              <i class="material-icons">location_ons</i>
              <p>Track</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="material-icons">logout</i>Log out
            </a>
          </li>
        </ul>
      </div>
  </div>
</div>


