<div class="container">
  <!-- Main content -->
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="inner-adjust">

      <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">User Profile</h1>
      </div>
      <!-- Show user data when logged in -->

      <div class="row" >

        <div class="col-md-12">
          <div class="media">
            <img class="align-self-start mr-3 img-thumbnail rounded-circle" src="{{(user.photoURL) ? user.photoURL : 'https://lh4.googleusercontent.com/-c_f1KooZ0Z4/AAAAAAAAAAI/AAAAAAAAAAA/ACHi3rfOrySvw2TA7sTWcWdHx2EFBQvZ1A/mo/photo.jpg'}}"
              alt="{{user.displayName}}">
            <div class="media-body">
              <h1><strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h1>
              <p>Email: <strong>{{user.email}}</strong></p>
              <p>Phone:<br> <strong>{{user.phone}}</strong></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>
</div>

<div class="wrapper">
  <div class="sidebar" data-color="green" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a [routerLink]="['/']" class="simple-text logo-normal">
          DUX
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/travel-plan']">
              <i class="material-icons">dashboard</i>
              <p>Travel Plan</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-guide-profile']">
              <i class="material-icons">person</i>
              <p>Edit Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-packages']">
              <i class="material-icons">content_paste</i>
              <p>Offers</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/view-guide-profile']">
              <i class="material-icons">library_books</i>
              <p>Guide Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/map']">
              <i class="material-icons">location_ons</i>
              <p>Track</p>
            </a>
          </li>

          <!-- chat -->
          <li class="nav-item ">
              <a class="nav-link" [routerLink]="['/tourist/chats']">
                <i class="material-icons">message</i>
                <p>Chats</p>
              </a>
            </li>

          <li class="nav-item ">
            <a class="nav-link" [routerLink]="['/notifications']">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.SignOut()">
              <i class="material-icons">logout</i> <b>Log out</b>
            </a>
          </li>
        </ul>
      </div>
  </div>

</div>







